@model IEnumerable<ProductManagement.Application.DTOs.ProductDto>

<h1>Produtos</h1>

<div>
    <input id="searchBox" type="text" placeholder="Buscar produtos..." style="width:250px; padding:6px; margin-bottom:10px;" />
</div>

<div id="searchResults">
    @await Html.PartialAsync("_ProductListPartial", Model)
</div>

<a href="@Url.Action("Create", "Products")">Adicionar Produto</a>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script>
    $(function () {
        $("#searchBox").on("input", function () {
            var q = $(this).val();
            $.get("@Url.Action("Search", "Products")", { q: q })
                .done(function (html) {
                    $("#searchResults").html(html);
                })
                .fail(function () {
                    alert("Erro ao buscar os produtos.");
                });
        });
    });
</script>
