@model ProductManagement.Application.DTOs.CategoryDto
@{
    ViewData["Title"] = "Remover Categoria";
}

<h1>Remover Categoria</h1>

<div>
    <h4>@Model.Name</h4>
    <p>@Model.Description</p>
</div>

<form asp-action="Delete" method="post" asp-route-id="@Model.Id">
    <button class="btn btn-danger">Confirmar remoção</button>
    <a asp-action="Index" class="btn btn-secondary">Cancelar</a>
</form>
